name: Business AR Process Paid Fillings CD

on:
  push:
    branches:
      - main
    paths:
      - "jobs/process_paid_filings/**"
  workflow_dispatch:
    inputs:
      target:
        description: "Deploy To"
        required: true
        type: choice
        options:
        - dev
        - test
        - sandbox
        - prod

jobs:
  bar-paid-filings-job-cd:
    uses: bcgov/bcregistry-sre/.github/workflows/backend-job-cd.yaml@main
    with:
      target: ${{ inputs.target }}
      app_name: "bar-paid-filings-job"
      working_directory: "./jobs/process_paid_filings"
    secrets:
      WORKLOAD_IDENTIFY_POOLS_PROVIDER: ${{ secrets.WORKLOAD_IDENTIFY_POOLS_PROVIDER }}
      GCP_SERVICE_ACCOUNT: ${{ secrets.GCP_SERVICE_ACCOUNT }}
